<template>
  <div class="bubble">
    <div class="bubble__title"></div>
    <div class="bubble__description"></div>
    <div class="bubble__footer">
      <div class="bubble__label">Power by <HintedIcon /></div>
      <div class="bubble__steps">step 1 of 30</div>

      <div class="bubble__buttons">
        <button class="bubble__button">123</button>
      </div>
    </div>
  </div>
</template>

<script>
import HintedIcon from '../icons/HintedIcon';

export default {
  name: 'Bubble',

  components: {
    HintedIcon,
  },
};
</script>

<style lang="scss" scoped>
.bubble {
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;

  &__title {
    font-size: 20px;
    line-height: 23px;
    color: #343347;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 15px;
    line-height: 18px;
    color: #343347;
  }

  &__footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: 10px;
    line-height: 12px;
    color: #bbbbc6;
  }

  &__steps {
    font-size: 12px;
    line-height: 14px;
    color: #bbbbc6;
  }
}
</style>
