<template>
  <div class="app">
    <Bubble />
  </div>
</template>

<script>
import Bubble from './components/bubble';

export default {
  name: 'App',

  components: {
    Bubble,
  },
};
</script>

<style lang="scss"></style>
